{% sw_extends '@Storefront/storefront/page/content/index.html.twig' %}

{% block cms_content %}
    {{ parent() }}
    <div>
        <h1>Swag AJAX Example</h1>

        <div data-ajax-helper>
            <div id="ajax-display"></div>
            <button id="ajax-button">Button</button>
        </div>
    </div>

    <div test-div>
        asdasdasd
    </div>

    <h2>Asset:</h2>

    {# Using asset function to display our custom asset #}
    <img src="{{ asset('bundles/ihorstorefrontplugin/images.jpg', 'asset') }}">


    {# We want to set our own icon here #}
    <h1>Custom icon:</h1>
    {% sw_icon 'checkmark' style {
        'size': 'lg',
        'pack': 'solid'
    } %}
    {{ parent() }}

    <h2>TRANSLATIONS</h2>
    <div class="product-detail-headline">
        {{ 'header.example' | trans }}
    </div>


    <div class="product-detail-headline">
        {{ 'soldProducts' | trans({'%count%': 3, '%country%': 'Germany'}) }}
    </div>
{% endblock %}